#Name : Muhammad Sadeem Choudhary
#sap id: 66385

1. append() - Adds an element at the end of the list

In [1]:
fruit_list=["Apple","Banana","Mango","Grapes"]
fruit_list.append("Orange")
print(fruit_list)

['Apple', 'Banana', 'Mango', 'Grapes', 'Orange']

2. clear() - Removes all the elements from the list

In [4]:
fruit_list.clear()
print(fruit_list)

[]

3. copy() - Returns a copy of the list

In [5]:
fruit_list=["Apple","Banana","Mango","Grapes"]
fruit_list2=fruit_list.copy()
print(fruit_list)

['Apple', 'Banana', 'Mango', 'Grapes']

4. count() - Returns the number of elements with the specified value

In [7]:
fruit_list=["Apple","Banana","Mango","Grapes","Apple"]
fruit_list.count("Apple")

2

5. extend() - Add the elements of a list (or any iterable), to the end of the current list

In [9]:
fruit_list=["Apple","Banana","Mango","Grapes"]
fruit_list2=["Orange","Kiwi"]
fruit_list.extend(fruit_list2)
print(fruit_list)

['Apple', 'Banana', 'Mango', 'Grapes', 'Orange', 'Kiwi']

6. index() - Returns the index of the first element with the specified value

In [10]:
fruit_list=["Apple","Banana","Mango","Grapes"]
fruit_list.index("Mango",2)

2

7. insert() - Adds an element at the specified position

In [22]:
fruit_list=["Apple","Banana","Mango","Grapes"]
fruit_list.insert(2,"Orange")
print(fruit_list)

['Apple', 'Banana', 'Orange', 'Mango', 'Grapes']

8. pop() - Removes the element at the specified position

In [29]:
fruit_list=["Apple","Banana","Mango","Grapes"]
fruit_list.pop(2)
print(fruit_list)

['Apple', 'Banana', 'Grapes']

9. remove() - Removes the item with the specified value

In [32]:
fruit_list.remove("Apple")
print(fruit_list)

['Banana', 'Grapes']

11. sort() - Sorts the list

In [36]:
fruit_list=["Apple","Banana","Mango","Grapes"]
fruit_list.sort()
number_list=[9,3,7,1,3]  #ascending order
number_list.sort()
print(fruit_list)
print(number_list)

['Apple', 'Banana', 'Grapes', 'Mango']
[1, 3, 3, 7, 9]

10. reverse() - Reverses the order of the list

In [37]:
fruit_list.sort(reverse=True)
number_list.sort(reverse=True) #descending order
print(fruit_list)
print(number_list)

['Mango', 'Grapes', 'Banana', 'Apple']
[9, 7, 3, 3, 1]