#Name:Muhammad Sadeem Choudhary
#Sap id: 66385

#Task 1 : Arithmetic Operators

#•	Addition

In [1]:
a=7
b=8
print(a+b)

15

#•	Subtraction

In [3]:
x=10
y=9
print(x-y)

1

#•	Multiplication

In [4]:
print(x*y)

90

#•	Division

In [29]:
f=8
g=2
print(f/g)

4.0

#•	Floor Division

In [30]:
z=16
w=3
print(z//w)

5

#•	Modulus

In [31]:
print(z%w)

1

#Task 2

Input your name and age, then print them.

In [11]:
name=input("Enter your name: ")
age=int(input("Enter your age: "))
print(name)
print(age)

Enter your name: Sadeem
Enter your age: 19
Sadeem
19

Write a program to check if a number is even or odd.

In [12]:
x=int(input("Enter a number: "))
if x%2==0:
  print("Even")
else:
  print("Odd")

Enter a number: 4
Even

Find the largest of three numbers using conditions.

In [14]:
def largest(a,b,c):
  if a>b and a>c:
    print(a,"is the largest")
  elif b>a and b>c:
    print(b,"is the largest")
  else:
    print(c,"is the largest")
a=int(input("Enter a number: "))
b=int(input("Enter a number: "))
c=int(input("Enter a number: "))
largest(a,b,c)

Enter a number: 3
Enter a number: 4
Enter a number: 5
5 is the largest

Reverse a string using slicing.

In [21]:
text="Muhammad Sadeem"
reversed_text=text[::-1]
print(reversed_text)

meedaS dammahuM

Print the first 10 terms of the Fibonacci sequence

In [23]:
x,y=0,1
for _ in range(10):
    print(x)
    x, y=y,x+y

0
1
1
2
3
5
8
13
21
34

#Task 3

Write a program to calculate the factorial of a number using a loop.

In [24]:
num=int(input("Enter a number: "))
fact=1
i=1

while i<=num:
    fact *=i
    i +=1

print("Factorial:",fact)

Enter a number: 3
Factorial: 6

Print table of the given number

In [26]:
num=int(input("Enter a number: "))

for i in range(1, 11):
    print(f"{num} x{i}={num * i}")

Enter a number: 5
5 x1=5
5 x2=10
5 x3=15
5 x4=20
5 x5=25
5 x6=30
5 x7=35
5 x8=40
5 x9=45
5 x10=50

Count Digits in Number and their Sum

In [28]:

num=input("Enter a number: ")
digits_count=len(num)
digits_sum=sum(int(d) for d in num)
print("Digits count:", digits_count)
print("Sum of digits:", digits_sum)

Enter a number: 23
Digits count: 2
Sum of digits: 5